.input-login {
  color: var(--azul) !important;
}

.control-label {
  font-size: 1.6em !important;
  margin-top: -2px !important;
}

input[type="text"],
input[type="password"] {
  font-size: 1.6em !important;
  color: #fff !important;
}
