.body-degradado-img {
  height: 100vh;
  overflow-x: hidden;
  background: url(../img/bg3.png);
  background-size: 100vw 100%;
  position: relative;

  @media screen and (max-width: 321px) {
    overflow: hidden;
  }
}

.caja {
  padding: 8em 0;
  @media screen and (max-width: 321px) {
    overflow: hidden;
  }
}

.caja-manilla {
  margin-top: 2em;
  @media screen and (max-width: 321px) {
    overflow: hidden;
  }
}

.label-codigo {
  color: #fff;
  font-size: 2em;
  margin: 0;
  margin-left: -2.5em;
  font-weight: bold;

  @media screen and (max-width: 321px) {
    font-size: 1.5em;
  }
}

.input-codigo {
  width: 100%;
  line-height: 0.5em;
  padding: 0.8em;
  background: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;

  @media screen and (max-width: 321px) {
    height: 50px;
  }
}

@media screen and (max-width: 321px) {
  .btn-qr {
    font-size: 1.2em !important;
  }
}
