.body-bg-transparente {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100vh;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/bg-transparente.png);
    background-size: 100vw 100vh;
  }
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8em 0;
}

.caja-manilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  &_titulo_uno,
  &_titulo_dos {
    color: #fff;
    margin: 0;
  }

  &_titulo_uno {
    font-size: 6em;
  }

  &_titulo_dos {
    font-size: 6.5em;
    margin-top: -0.2em;
    text-transform: uppercase;
  }

  &_saltar {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

    hr {
      margin-top: 0.8em;
      width: 100px;
      height: 2px;
      border: none;
      background: rgba(255,255,255,0.5);
    }

    p {
      color: rgba(255,255,255,0.8);
      margin-top: -0.2em;
      font-size: 3.8em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}

.btn-uno,
.btn-dos {
  width: 420px;
  font-size: 3em;
  margin-top: 2em;
}

.btn-dos {
  margin-top: -0.03em;
}


@media screen and (max-width: 601px) {
  .body-bg-transparente {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100vh;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: url(../img/bg-transparente.png);
      background-size: 100vw 100vh;
    }
  }

  .caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em 0;
  }

  .caja-manilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    &_titulo_uno,
    &_titulo_dos {
      color: #fff;
      margin: 0;
    }

    &_titulo_uno {
      font-size: 3em;
    }

    &_titulo_dos {
      font-size: 3.5em;
      margin-top: -0.2em;
      text-transform: uppercase;
    }

    &_saltar {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;

      hr {
        margin-top: 0.8em;
        width: 50px;
        height: 2px;
        border: none;
        background: rgba(255,255,255,0.5);
      }

      p {
        color: rgba(255,255,255,0.8);
        margin-top: -0.2em;
        font-size: 1.8em;
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }

    @media screen and (max-width: 321px) {
      &_titulo_uno {
        font-size: 2em;
      }

      &_titulo_dos {
        font-size: 2.5em;
      }
    }
  }

  .btn-uno,
  .btn-dos {
    width: 220px;
    font-size: 1.5em;
    margin-top: 2em;

    @media screen and (max-width: 321px) {
      font-size: 1em !important;
    }
  }

  .btn-dos {
    margin-top: -0.03em;
  }
}
