.body-bg {
  background: url(../img/bg.png);
  background-size: 102vw 100vh;
}

.rg-entrar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja-rg-entrar {
  margin-top: 2em;
}

@media screen and (max-width: 321px) {
  .body-bg,
  .caja-center {
    overflow: hidden;
  }

  .btn-transparente,
  .btn-azul {
    font-size: 1.2em;
  }
}
