

			img {
    			vertical-align: middle;
				margin-right: 15px;
				cursor: pointer;
				}

				.fondo_blanco{
					background: #fff;
				}
				.list-group-item a{
					color: #535353;
					cursor: pointer;
				}

				.border1{
					border-bottom: 2px solid #11b5b5;
				}

				.list-group-item:first-child{
				    border-top-right-radius: 0;
				    border-top-left-radius: 0;
					}

				.list-group-item:last-child {
				    margin-bottom: 0;
				    border-bottom-right-radius: 0;
				    border-bottom-left-radius: 0
				}

				.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus {
				    background-color: #eee;
				    color: #535353;
				    cursor: not-allowed;
				}
