a:hover{
    text-decoration: none;
}
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.navigation-example{
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .btn{
    margin: 0 0px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white, .descri h4, .navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}


.parallax{
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
@media (min-width: 1024px){
    .cont_sticker, .cont_scanner{
        min-height: 550px;
    }
    .cont_sticker, .cont_scanner h3, .fondo_perfil h4{
        font-size: 2.5em;
    }
}
@media (max-width: 600px){
    .cont_sticker, .cont_scanner h3{
        font-size: 1em;
    }
    .cont_sticker, .cont_scanner h4{
        font-size: 1.2em;
    }
    .cont_sticker{
        min-height: 500px;
    }
}
@media (max-width: 991px){
    .fixed-section.affix{
        position: relative;
        margin-bottom: 100px;
    }
}
@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.sharing-area .btn-twitter:hover{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.sharing-area .btn-facebook:hover{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.sharing-area .btn-google-plus:hover{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github{
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.sharing-area .btn-github:hover{
    background-color: #333333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 25px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}

.cabecera{
    overflow-x: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    background: #0E6565;
    padding: .5em;
    z-index: 9999;
}

.fondo_gris{
    background-color: #f5f5f5;
}
.nouppercase{
    text-transform: none;
}
.input{
    border:none;
    background-color: #fff;
    padding: .8em;
    width: 80%;
}
.borderb{
    border-bottom: 1px solid #ccc;
}
.icon_search{
    background-color: #0E6565;
    padding: .2em;
    width: 15%;
    color: #fff;
}
.icon_titulo{
    padding: 1em;
    padding-bottom: 0em;
}
.icon_titulo h4{
    padding-left: 1em;
}
.borderb_titulo h4{
    font-size: 18px !important;
     font-weight: 400;
}
.contenedor{
    padding-left: 30px;
    padding-right: 30px;
}
.nbottom{
    margin-bottom: 0em;
}
.cont_info{
    background-color: #fff;
    margin-bottom: 1em;
}
.cont_info button{
    margin-bottom: 0em;
    margin-top: 0em;
    background: #0ACADA;
    border: none;
}
.cont_info h4, .cont_info h6, .cont_info p{
    margin-bottom: 0em;
    margin-top: 0em;
    text-transform: none;
}
.cont_info h4, .cont_info h6{
    color: #0CADA5;
    font-weight: bold;
}
.cont_info p{
    font-size: 12px;
}
.npadding{
    padding-left: 0em;
    padding-right:0em;
}
.azul{
    color: #0ACADA;
}

.fondo_perfil{
    background: #264747;
}
.fondo_perfil h4{
   color: #fff;
   margin-top: .5em !important;
}

.cont_perfil p{
    margin-bottom: 0em;
    color: #A9A6A6;
    font-size: 16px;
}

.cont_perfil h3{
    margin-top: 0em;
    color: #333;
}

.cont_scanner, .cont_sticker{
    background-color: #155353;
    padding-left: 50px;
    padding-right: 50px;
}

.cont_scanner{
    padding: 2em;
}
.cont_sticker{
    padding-top: 4em;
    margin-bottom: -1em;
}

.cont_sticker h4, .cont_sticker h3, .footer_sticker h3, .footer_scanner h3{
    color: #fff;
    text-align: center;
}

.footer_scanner{
    padding-bottom: 6em !important;
}
.footer_scanner, .footer_sticker{
    background-color: #0e6565;
    padding: 2em;
    margin-top: 0em;
}

.input_form{
    border: 2px solid #fff;
    background-color: transparent;
    padding: .8em;
    width: 100%;
    border-radius: 1em;
}

.fan_box{
    margin-top: 3em;
}

.fan_box h3, .fan_box h5, .fan_box p{
    color: #fff;
}

.space{
    padding-bottom: 17em;padding-top: 3em;
}

.input_white{
    height: 50px;
    text-align: center;
    border-radius: .5em;
}

.margin_1{
    margin-bottom: 1em;
}
.font_18{
    font-size: 18px;
}
.nomargin{
    margin-right: 0px !important;
}
.con_perfil{
    padding-bottom: 4em;
}
.descri{
    padding-top: 2em;
}
.descri h4, .descri h5, .descri p{
    margin: 0em;
}
.descri h5{
    color: #0FB5B5;
}
.descri p{
    color: #FF9700;
}
.cabecera_perfil{
    background: #155353;
    padding:.5em;
}
.con_cuenta{
    padding-bottom: 5em;
}
.con_cuenta h4{
    padding-bottom: .5em;
    padding-left: 1em;
    color: #333;
}
.cont_cuenta{
    padding-right: 60px;
    padding-left: 60px;
}

.titulo_c{
    color: #fff;
    font-size: 15px;
    background: #264747;
    padding: 8px 15px;
}

.logocasa{
    padding-top: .3em;
    width: 30%;
}
.txt-12{
    color: #000;
    font-weight: 600;
}
.table_tickets tr th, .table_tickets tr td{
    text-align: center;
    font-size: 20px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: 1px solid #155353 !important;
}
