@charset "UTF-8";
body {
  overflow-y: auto;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 0; }

.logo_sinLetras {
  width: 160px;
  height: 150px; }
  .logo_sinLetras img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 321px) {
    .logo_sinLetras {
      width: 120px;
      height: 110px; } }

.logo_sinLetras-login {
  width: 140px;
  height: 130px; }
  .logo_sinLetras-login img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 321px) {
    .logo_sinLetras-login {
      width: 100px;
      height: 90px; } }

.logo-conLetras {
  width: 140px;
  height: 160px; }
  .logo-conLetras img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 321px) {
    .logo-conLetras {
      margin-top: -2em;
      width: 100px;
      height: 120px; } }

.logo-conLetras_register {
  width: 120px;
  height: 140px; }
  .logo-conLetras_register img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 321px) {
    .logo-conLetras_register {
      margin-top: -2em;
      width: 80px;
      height: 100px; } }

.logo-manilla {
  position: relative;
  width: 140px;
  height: 160px; }
  .logo-manilla img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 321px) {
    .logo-manilla {
      width: 80px;
      height: 100px; } }

/*
PARA USARLOS SOLO DA ESTILOS NORMALES Y LLAMA LA VARIBLE DE
ESTA FORMA

background: var(--azul);
color: var(--azul);
*/
:root {
  --azul: #0cada5;
  --claro-verde: #32ac87;
  --Mdark-verde: #195656;
  --dark-verde: #1c3e3e;
  --pastel: #cbcd7f;
  --naranja: #f09305;
  --blanco-grisacio: #f1f4f4; }

body {
  background: var(--blanco-grisacio); }

.body-login {
  background: url(../img/bg2.png);
  background-size: 100vw 100vh;
  height: 100vh;
  position: relative;
  overflow-y: auto; }
  .body-login::-webkit-scrollbar {
    width: 0 !important; }
  @media screen and (max-width: 769px) {
    .body-login {
      overflow-y: hidden; } }
  @media screen and (max-width: 321px) {
    .body-login {
      overflow-y: auto;
      background-size: 100vw 100%; } }

.caja-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5em 0; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .logo_img {
    width: 300px;
    height: 100px; }

.olvidaste_ctñ,
.olvidaste_ct:focus,
.olvidaste_ct:hover,
.olvidaste_ct:active {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 1.3em; }

.social {
  display: block;
  margin-top: 1em; }

.btn-login {
  width: 70%;
  line-height: 0.7em;
  font-size: 1.4em;
  text-transform: capitalize;
  border-radius: 12px;
  border: 2px solid #fff; }
  .btn-login:hover, .btn-login:focus, .btn-login:active {
    border: 2px solid #fff !important; }

.btn-transparente,
.btn-azul {
  width: 100%;
  line-height: 0.9em;
  font-size: 1.4em;
  text-transform: none;
  border-radius: 12px;
  border: 2px solid #fff; }
  .btn-transparente:hover, .btn-transparente:focus, .btn-transparente:active,
  .btn-azul:hover,
  .btn-azul:focus,
  .btn-azul:active {
    border: 2px solid #fff !important; }

.btn-transparente,
.btn-azul {
  line-height: 1em;
  font-size: 1.8em; }

.btn-transparente {
  background: none !important; }

.btn-facebook,
.btn-google {
  width: 100%;
  text-transform: none;
  font-size: 1.6em;
  border-radius: 13px;
  color: #fff !important;
  border: none !important; }

.btn-facebook {
  background: #4255a7 !important;
  font-size: 2em;
  line-height: 0.8em;
  font-weight: bold; }

.btn-google {
  background: #f60c0c !important;
  line-height: 1em;
  font-weight: 400; }

.btn-facebook-small,
.btn-google-small {
  width: 85%;
  text-transform: none;
  font-size: 1.4em;
  border-radius: 13px;
  color: #fff !important;
  border: none !important; }

.btn-facebook-small {
  background: #4255a7 !important;
  font-size: 1.8em;
  line-height: 0.6em;
  font-weight: bold; }

.btn-google-small {
  background: #f60c0c !important;
  line-height: 0.8em;
  font-weight: 400; }

.control-label {
  font-size: 1.6em !important;
  margin-top: -2px !important; }

input[type="text"],
input[type="password"] {
  font-size: 1.6em !important;
  color: #fff !important; }

.body-bg-transparente {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100vh; }
  .body-bg-transparente:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(../img/bg-transparente.png);
    background-size: 100vw 100vh; }

.caja {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8em 0; }

.caja-manilla {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2em; }
  .caja-manilla_titulo_uno, .caja-manilla_titulo_dos {
    color: var(--blanco-grisacio);
    margin: 0; }
  .caja-manilla_titulo_uno {
    font-size: 4em; }
  .caja-manilla_titulo_dos {
    margin-top: -0.2em;
    text-transform: uppercase; }
  @media screen and (max-width: 321px) {
    .caja-manilla_titulo_uno {
      margin-top: -1em;
      font-size: 2em; }
    .caja-manilla_titulo_dos {
      font-size: 2.5em; } }

.btn-uno,
.btn-dos {
  margin-top: 2em; }
  @media screen and (max-width: 321px) {
    .btn-uno,
    .btn-dos {
      font-size: 1em !important; } }

.btn-dos {
  margin-top: -0.03em; }

.body-degradado-img {
  height: 100vh;
  overflow-x: hidden;
  background: url(../img/bg3.png);
  background-size: 100vw 100%;
  position: relative; }
  @media screen and (max-width: 321px) {
    .body-degradado-img {
      overflow: hidden; } }

.caja {
  padding: 8em 0; }
  @media screen and (max-width: 321px) {
    .caja {
      overflow: hidden; } }

.caja-manilla {
  margin-top: 2em; }
  @media screen and (max-width: 321px) {
    .caja-manilla {
      overflow: hidden; } }

.label-codigo {
  color: #fff;
  font-size: 2em;
  margin: 0;
  margin-left: -2.5em;
  font-weight: bold; }
  @media screen and (max-width: 321px) {
    .label-codigo {
      font-size: 1.5em; } }

.input-codigo {
  width: 100%;
  line-height: 0.5em;
  padding: 0.8em;
  background: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px; }
  @media screen and (max-width: 321px) {
    .input-codigo {
      height: 50px; } }

@media screen and (max-width: 321px) {
  .btn-qr {
    font-size: 1.2em !important; } }

.body-bg {
  background: url(../img/bg.png);
  background-size: 102vw 100vh; }

.caja-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 321px) {
  .body-bg,
  .caja-center {
    overflow: hidden; }
  .btn-transparente,
  .btn-azul {
    font-size: 1.2em; } }

.body-opc {
  overflow-x: hidden;
  overflow-y: auto; }

.caja-opc_comunidad {
  padding: 0;
  margin: 0; }
  .caja-opc_comunidad img {
    width: 100%;
    height: 100%; }

.caja-opc_evento,
.caja-opc_comida,
.caja-opc_aliados,
.caja-opc_misaplausos,
.caja-opc_retos,
.caja-opc_parati {
  padding: 0;
  margin: 0; }
  .caja-opc_evento img,
  .caja-opc_comida img,
  .caja-opc_aliados img,
  .caja-opc_misaplausos img,
  .caja-opc_retos img,
  .caja-opc_parati img {
    width: 100%;
    height: 100%; }

.caja-opc_misaplausos img {
  margin-top: -2px;
  margin-left: -2px;
  width: 102.8%;
  height: 102.8%; }

.caja-opc_retos img {
  margin-top: -3px;
  width: 101%;
  height: 101%; }

.caja-opc_parati img {
  margin-top: -3px;
  width: 101%;
  height: 101%; }

.body-carga {
  background: #fff; }

.caja-carga {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .caja-carga_logo {
    width: 250px;
    height: 300px;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .caja-carga_logo img {
      width: 100%;
      height: 300px; }
    @media screen and (max-width: 321px) {
      .caja-carga_logo {
        width: 200px;
        height: 250px; }
        .caja-carga_logo img {
          height: 250px; } }

.body-blanco {
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden; }

.barra-home_cinta {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70px;
  background: var(--Mdark-verde);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9000; }

.barra-home_menu {
  position: absolute;
  top: 0.7em;
  left: 1.5em;
  margin: auto; }
  .barra-home_menu .icono-menu {
    text-shadow: 1px  1px #fff, -1px -1px #fff, 2px  2px #fff, -2px -2px #fff, 0   -3px #fff;
    font-size: 3.6em;
    color: var(--Mdark-verde); }

.barra-home_titulo {
  font-size: 2.2em;
  margin-top: 0.5em; }

.barra-home_logo {
  margin-top: 1.4em;
  width: 40px;
  height: 40px; }
  .barra-home_logo img {
    height: 40px; }

.menu-footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  background: var(--blanco-grisacio);
  text-align: center;
  border-top: 2px solid #888;
  height: 70px;
  padding: 1em 0.5em;
  z-index: 9000; }
  .menu-footer_icon {
    font-size: 2em;
    color: #888; }
  .menu-footer_titulo {
    font-size: 11px;
    color: #888; }

.body-bg-transparenteNormal {
  background: url(../img/bg-transparente.png);
  overflow: hidden; }

.footer-register {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.togglebutton {
  margin-top: 1em;
  margin-left: -2em; }

span.toggle {
  width: 83px !important;
  height: 50px !important;
  border-radius: 50px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 2px #fff;
  box-shadow: 0 0 0 2px #fff;
  background: none !important; }
  span.toggle:after {
    content: "";
    width: 43px !important;
    height: 43px !important;
    border-radius: 50px !important;
    top: 0.2em !important;
    left: 0.2em !important; }
  @media screen and (max-width: 321px) {
    span.toggle {
      width: 70px !important;
      height: 40px !important; }
      span.toggle:after {
        width: 33px !important;
        height: 33px !important; } }

.togglebutton label input[type=checkbox]:checked + span.toggle {
  background: rgba(12, 173, 165, 0.7) !important; }

.togglebutton label input[type=checkbox]:checked + .toggle:after {
  left: 38px !important; }
  @media screen and (max-width: 321px) {
    .togglebutton label input[type=checkbox]:checked + .toggle:after {
      left: 34px !important; } }

.terminos_condiciones {
  color: #fff !important;
  text-decoration: none !important;
  position: absolute;
  left: 5em;
  bottom: 15.5em;
  font-size: 1em !important;
  width: 100% !important;
  font-weight: bold; }
  .terminos_condiciones:hover, .terminos_condiciones:active, .terminos_condiciones:focus {
    color: #fff !important;
    text-decoration: none !important; }
  @media screen and (max-width: 321px) {
    .terminos_condiciones {
      font-size: 0.9em !important;
      left: 5em;
      bottom: 17em; } }

.text-logo {
  margin-top: -0.5em;
  text-align: center; }

@media screen and (max-width: 321px) {
  .body-bg-transparenteNormal {
    overflow-y: auto !important; }
    .body-bg-transparenteNormal::-webkit-scrollbar {
      width: 1px !important; }
  .form-register .content .form-group label {
    font-size: 1.4em !important; }
  .form-register .content .form-group input[type="text"],
  .form-register .content .form-group input[type="password"] {
    font-size: 1em !important; }
  .btn-facebook-small {
    font-size: 1.4em; } }

.xd {
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff; }

ul.reset {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

.detalles-caja {
  margin-top: 70px; }

.comunidad {
  max-height: 230px; }
  .comunidad:before {
    max-height: 230px; }

.detalles-opc {
  width: 100%;
  padding-top: 240px !important;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 6em; }
  .detalles-opc_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0.5em;
    width: 100%;
    line-height: 5em;
    border-bottom: 2px solid rgba(51, 51, 51, 0.2); }
  .detalles-opc_icon {
    color: var(--azul);
    font-size: 4em; }
  .detalles-opc_link {
    color: #555;
    text-decoration: none;
    padding-left: 1em;
    font-size: 1.8em; }
    .detalles-opc_link:hover, .detalles-opc_link:active, .detalles-opc_link:focus {
      color: #555;
      text-decoration: none; }

.ocultar {
  display: none; }

.titulo-unico {
  padding-top: 0.5em; }

.detalles-padding-small {
  padding-bottom: 1em; }
  .detalles-padding-small .sin-raya {
    border-bottom: none; }

.color-unico {
  background: url(../img/c.jpg);
  background-size: cover;
  height: 230px;
  position: relative; }
  .color-unico:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: rgba(12, 173, 165, 0.6);
    width: 100%;
    height: 230px; }
