
    .xd{
      background: #f5f7f6;
    }

      .caja-concierto_buscador{
        padding-top: 1em;
        padding-bottom: 3em;
      }

      .caja-concierto_buscador .buscar{
        padding: 0 20px;
      }

      .caja-hamb{
        position: relative;
        margin-bottom: 25px;
      }

      .caja-negra{
        background: rgba(0, 0, 0, 0.45);
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      .caja-negra h4{
        color: #fff;
        margin: 0;
        font-weight: 600 !important; 
      }

      .caja-negra p{
        color: #4fc8f4;
        margin: 0;
      }